* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, sans-serif;
}
.homepageTitleContent {
  margin-top: 64px; /* push below navbar */
  min-height: 35vh;
  width: 100%;

  background: linear-gradient(135deg, #e5e7eb, #f9fafb);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.homepageFullPageCal {
  width: 100%;
  /* height: calc(100vh - 64px - 35vh);  Commenting because not needed */
  padding: 16px;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.fc-toolbar-chunk {
  display: flex;
}

.titleContent-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.titleContent-greeting {
  font-size: 3rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0;
}

.titleContent-secondary {
  font-size: 1.5rem;
  font-weight: 500;
  color: #6b7280;
  margin: 0;
}

.subsBtn {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 16px;
}

.subscribe-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.export-button {
  background-color: #087100;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.subscribe-button:hover {
  background-color: #2563eb;
}

.subscribe-button:active {
  background-color: #1d4ed8;
}

@media (max-width: 768px) {
  .homepageTitleContent {
    min-height: 25vh;
    padding: 16px;
  }

  .fc-view-harness-active {
    height: 330px !important;
  }

  /* .homepageFullPageCal {
    min-height: calc(100vh - 56px - 25vh);
  } */
}
