* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, sans-serif;
}
.homepageTitleContent {
  margin-top: 64px; /* push below navbar */
  min-height: 35vh;
  width: 100%;

  background: linear-gradient(135deg, #e5e7eb, #f9fafb);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.homepageFullPageCal {
  width: 100%;
  height: calc(100vh - 64px - 35vh);
  padding: 16px;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.fc-toolbar-chunk {
  display: flex;
}
@media (max-width: 768px) {
  .homepageTitleContent {
    min-height: 25vh;
    padding: 16px;
  }

  .fc-view-harness-active {
    height: 330px !important;
  }

  /* .homepageFullPageCal {
    min-height: calc(100vh - 56px - 25vh);
  } */
}
